.u-full-width {
  width: 100%;
}
.u-max-full-width {
  max-width: 100%;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
.u-text-center {
  text-align: center
}
.u-text-right {
  text-align: right
}
.u-hidden{
  // visibility: hidden
  display: none
}
// 
// Spacing Utilities
// 
.u-spacing-page-top {
  padding-top: 3rem;
}
.u-pt-small {
  padding-top: $spacing-small;
}
.u-pt-largest {
  padding-top: $spacing-largest;
}
.u-noSpacing {
  padding: 0;
  margin: 0;
}
.u-mt-larger {
  margin-top: $spacing-larger
}
.u-region-divider {
  margin: 50px 0 30px;
  border-bottom: dashed 1px $color-grey-lighter;
}
// 
// Self Clearing Goodness 
// 
.container:after,
.pure-g:after,
.u-cf {
  @extend %clearfix
}
