.u-full-width {
    width: 100%;
}
.u-max-full-width {
    max-width: 100%;
}
.u-pull-right {
    float: right;
}
.u-pull-left {
    float: left;
}
.u-text-center {
    text-align: center
}
.u-text-right {
    text-align: right
}
.u-text-left {
    text-align: left
}
.u-pos-fixed{
    position: fixed;
}
.u-pl-10{
    padding-left:10px;
}
// 
// Spacing Utility
// 
.u-spacing-page-top {
    padding-top: 6rem;
}
.u-region-divider {
  margin: 50px 0 30px;
  border-bottom: dashed 1px $color-grey-lighter;
}
// 
// Self Clearing Goodness 
// 
.container:after,
.pure-g:after,
.u-cf {
    @extend %clearfix
}
.u-inline-block {
    display: inline-block;
}
