<!doctype html>
<html lang="en">

<head>
  <title>PayDash</title>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on" />
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="description" content="jolly">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
  <link rel="stylesheet" media="all" href="/css/index.css">
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="paydash">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <!--[if lte IE 8]>
    alert('{{t "/browser_msg"  credentials}}');
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->
</head>

<body>
  {{{ content }}}
  {{> ga}}
  <script src="/js/vendor.js"></script>
  <script src="/js/app.bundle.js"></script>
</body>

</html>
