<div class="container u-spacing-page-top">
  <div class="menu menu--pointing">
    <a class="menu-item" href="/notifications/unread">{{t "notifications/unread" credentials}}</a>
    <a class="menu-item" href="/notifications/read">{{t "notifications/read" credentials}}</a>
  </div>
  <ul>
    <ul>
    {{#each notifications}}
      <li class="message message--success notification">
      <ul class="pointed-list">
        {{#each this}}
        <li>{{msg}}</li>
        {{/each}}
      </ul>
      </li>
    {{/each}}
  </ul>
</div>
{{> footer}}
