<div class="container-fluid u-spacing-page-top">
  <table class="u-full-width muster_table" id="my-final-table">
    <thead>
      <th>muster_no</th>
      <th>work_name</th>
      <th>work_code</th>
      <th>panchayat_code</th>
      <th>panchayat_name</th>
      <th>Start_date</th>
      <th>end_date</th>
      <th>implementing_agency</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
