<div class="container-fluid u-spacing-page-top">
  {{>loader}}
  <div class="table-holder u-hidden">
    <h1>Musters Closing Today</h1>
    {{!-- Mapping message --}}
    <div class="message message--warning">
      <ul class="pointed-list">
        <li id="mapping-msg-1 u-hidden">{{t "/performance/discrete/grs_message" credentials}}</li>
      </ul>
    </div>
    <table class="u-full-width muster_table " id="current-musters">
      <thead>
        <th>Msr no</th>
        <th>Work</th>
        <th>Panchayat</th>   
        <th>GRS</th>
        <th>Mobile</th> 
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  {{> footer}}
</div>
