<div class="container-fluid u-spacing-page-top">
  {{>loader}}
  <div class="table-holder u-hidden">
    <h1>Current Musters</h1>
    <table class="u-full-width muster_table " id="current-musters">
      <thead>
        <th>Msr No</th>
        <th>Work Name</th>
        <th>Work Code</th>
        {{!--
        <th>Panchayat Code</th> --}}
        <th>Panchayat Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        {{!--
        <th>GRS Name</th>
        <th>GRS Mobile No</th> --}}
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  {{> footer}}
</div>
