<div class="container-fluid u-spacing-page-top">
  <div id="loading_message" class="message message--warning">
    <ul>
      <li>Please wait while data is loading!</li>
    </ul>
  </div>
<h1>Current Musters</h1>
  <table class="u-full-width muster_table" id="my-final-table">
    <thead>
      <th>Muster No</th>
      <th>Work Name</th>
      <th>Work Code</th>
      <th>Panchayat Code</th>
      <th>Panchayat Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Implementing Agency</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{{> footer}}
