<div id="cards"></div>
{{!-- <div class="container-fluid u-spacing-page-top">
  {{>loader}}
  <div class="table-holder u-hidden">
    <h1>{{t "/musters/current/title" credentials}}</h1>
    {{!-- Mapping message --}}
    <div class="message message--warning">
      <ul class="pointed-list">
        <li id="mapping-msg-1">{{t "/performance/discrete/grs_message" credentials}}</li>
      </ul>
    </div>
  </div>
  {{> footer}}
</div> --}}
