<div class="container-fluid u-spacing-page-top">
  {{>loader}}
  <div class="table-holder u-hidden">
    <h1>Delayed Musters</h1>
    {{!-- Mapping message --}}
    <div class="message message--warning">
      <ul class="pointed-list">
        <li id="mapping-msg-1 u-hidden">{{t "/performance/discrete/grs_message" credentials}}</li>
        <li id="mapping-msg-2 u-hidden">{{t "/performance/discrete/ta_message" credentials}}</li>
      </ul>
    </div>
    <div class="u-region-divider"></div>
    <h1>Attendance not filled (T+2)</h1>
    <table class="u-full-width muster_table" id="delayed-table-2">
      <thead>
       <th>Msr No</th>
        <th>Work</th>
        <th>Panchayat</th>
        <th>Closure date</th>
        <th>Days pending</th>
        <th>GRS name</th>
        <th>Mobile</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="u-region-divider"></div>
    <h1>Measurement book not filled (T+5)</h1>
    <table class="u-full-width muster_table" id="delayed-table-5">
      <thead>
        <th>Msr No</th>
        <th>Work</th>
        <th>Panchayat</th>
        <th>Closure date</th>
        <th>Days pending</th>
        <th>TA Name</th>
        <th>Mobile</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="u-region-divider"></div>
    <h1>Wagelist not sent (T+6)</h1>
    <table class="u-full-width muster_table" id="delayed-table-6">
      <thead>
        <th>Msr No</th>
        <th>Work</th>
        <th>Panchayat</th>
        <th>Closure date</th>
        <th>Days pending</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="u-region-divider"></div>
    <h1>Pending for FTO first signature (T+7)</h1>
    <table class="u-full-width muster_table" id="delayed-table-7">
      <thead>
        <th>Msr No</th>
        <th>Work</th>
        <th>Panchayat</th>
        <th>Closure date</th>
        <th>Days pending</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="u-region-divider"></div>
    <h1>Pending for FTO second signature (T+8)</h1>
    <table class="u-full-width muster_table" id="delayed-table-8">
      <thead>
        <th>Msr No</th>
        <th>Work</th>
        <th>Panchayat</th>
        <th>Closure date</th>
        <th>Days pending</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  {{> footer}}
</div>

