<div class="container-fluid u-spacing-page-top">
  <select id="modify-outcome-controls" class="button button--bp" name="">
    <option value="treatment" selected>Treatment</option>
    <option value="arms">Treatment Arms</option>
  </select>
  <div class="analysis_charts-container">
  </div>
</div>
