<div class="container-fluid u-spacing-page-top">
  {{!--   Number of Sessions chart --}}
  <div class="u-textSize--largest">CPU usages</div>
  <div class="pure-g">
    <div class="pure-u-24-24">
      <div class="chart-holder">
        <div id="cpu_usage_chart"></div>
      </div>
    </div>
  </div>
  


</div>
