// Variables
@background-color : #092234;
@body-color: #6a8093;
@link-color: #2adbb9;
@link-hover-color : #fff;

/*
  Core Styles
*/

body {
  background-color: @background-color;
  font-family: 'Open Sans';
  color: @body-color;
}

a,
button {
  color: @link-color;
  text-decoration: none;
}

a:hover {
  color: @link-hover-color
}
