* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background-color: @background-color;
  font-family: 'Open Sans';
  color: @body-color;
  margin-top: 80px
}

a,
button {
  color: @link-color;
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: darken(@body-color, 30%);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: darken(@body-color, 30%);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: darken(@body-color, 30%);
}

:-ms-input-placeholder {
  color: darken(@body-color, 30%);
}

a:hover {
  color: @link-hover-color
}

.pull-right {
  float: right;
}

.pure-menu-link {
  color: @link-color-2
}

.pure-menu-link:hover,
.pure-menu-link:active,
.pure-menu-link:focus {
  color: lighten(@link-color-2, 10%);
  background: none
}

.m-t-40 {
  margin-top: 140px
}

// forms
//
.paydash-form input[type="text"],
.paydash-form input[type="password"] {
  background-color: darken(@background-color, 2%);
  border: solid 1px darken(@background-color, 3%);
  box-shadow: none;
}

.paydash-form label {
  margin: 15px 0;
}
