<h2>Invitation for data entry interface</h2>
<p>Hi </p>
<p>
  {{name}} has invited you to entry data. Please follow this link to login to paydash and fill data.
</p>
<p> <a href="{{url}}">{{url}}</a></p>
