<div class="container u-spacing-page-top">
  <div class="pure-g">
    <div class="pure-u pure-u-7-24">
      {{> settings-nav}}
    </div>
    <div class="pure-u pure-u-10-24">
      <div class="">
        <h5 class="heading--sub">Notifications Settings</h5>
        Coming soon.
      </div>
    </div>
  </div>
</div>
