<div class="container u-spacing-page-top">
  <div class="pure-g">
    <div class="pure-u pure-u-7-24">
      {{> settings-nav}}
    </div>
    <div class="pure-u pure-u-10-24">
      <div class="">
        <h5 class="heading--sub">Profile Settings</h5> {{> flash}}
        <form data-tab="profile" method="post" action="">
          {{#with user}}
            <label for="email">Work email</label>
            <input class="u-full-width" id="work_email" value="{{work_email}}" name="work_email" type="text" placeholder="Please enter your work email">
            <label for="dob">Mobile</label>
            <input class="u-full-width" id="mobile" name="mobile" type="text" value="{{mobile}}" placeholder="Please enter your mobile no">
            <label for="email">Personal email</label>
            <input class="u-full-width" id="email" name="email" value="{{email}}" type="text" placeholder="Please enter your email id">
            
          {{/with}}
          {{> form_security}}
          <input type="submit" value="save" class=" button button--primary">
        </form>
      </div>
    </div>
  </div>
</div>
