option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm start"
  - namespace: aws:elasticbeanstalk:environment
    option_name: EnvironmentType
    value: "SingleInstance"
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /assets
    value: /assets
  - option_name: NODE_ENV
    value: production
  - option_name: PORT
    value: 8081
