<div class="container-narrow u-spacing-page-top">
  <h1 class="u-text-center">Contact PayDash team</h1>
  <br>
  <a target="_blank" href='mailto:{{info.email}}?subject={{info.subject}}' class="button button--primary u-full-width"/>Email Us</a>
</div>
