.dashboard .button--bp,
.dashboard .button--bp:hover,
.dashboard .button--bp:focus {
  font-size: 2rem;
  color: rgba($color-foreground, 1);
  border: 0;
  text-transform: none;
  font-weight: inherit;
  width: auto;
  margin-bottom: 0;
}
.dashboard .button--pc,
.dashboard .button--pc:hover,
.dashboard .button--pc:focus {
  font-size: 1.4rem;
  color: rgba($color-foreground, 1);
  border: 0;
  text-transform: none;
  font-weight: inherit;
  width: auto;
  margin-bottom: 0;
}
.legend {
  margin-top: 20px;
}
.legend span {
  display: inline-block;
  width: 25%;
  margin-bottom: 15px;
}
.mg-x-axis .label,
.mg-y-axis .label,
.mg-axis .label {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
}
.mg-x-axis text,
.mg-y-axis text,
.mg-histogram .axis text {
  font-size: 1.3rem;
}
.u-block-divider {
  margin: 60px 0;
  border-bottom: dashed 1px $color-grey-lighter;
}
.selectors {
  margin: 30px 0;
  padding: 6px 15px;
  border: dotted 1px #6a8093;
}
.selectors .pure-checkbox,
.selectors input {
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 0;
}
.u-mg-line1-color {
  color: #ffd300;
}
.u-mg-line2-color {
  color: #18ff00;
}
.u-mg-line3-color {
  color: #f57070;
}
