.subnav{
  padding: 10px 0 20px;
  border-bottom: dashed 1px $color-grey-lighter;
  margin-bottom: 20px;
}
.subnav .subnav-name {
    font-size: 40px;
    text-transform: capitalize !important;
    letter-spacing: .3em
}
.legend {
  margin-top: 40px;
}
.legend span {
  display: block;
  font-size: .9em;
  margin-bottom: 5px;
}
.dashboard .button--pc,
.dashboard .button--pc:hover,
.dashboard .button--pc:focus {
  font-size: 1rem;
  text-transform: none;
  width: auto;
}
.footer {
  padding: 15px 0;
  border-top: solid 1px $color-grey-dim
}


// 
// 
// 
// 
// 
// 

// .dashboard .button--bp,
// .dashboard .button--bp:hover,
// .dashboard .button--bp:focus {
//   font-size: 2rem;
//   color: rgba($color-foreground, 1);
//   border: 0;
//   text-transform: none;
//   font-weight: inherit;
//   width: auto;
//   margin-bottom: 0;
// }
// .dashboard .button--pc,
// .dashboard .button--pc:hover,
// .dashboard .button--pc:focus {
//   font-size: 1.4rem;
//   color: rgba($color-foreground, 1);
//   border: 0;
//   text-transform: none;
//   font-weight: inherit;
//   width: auto;
//   margin-bottom: 0;
// }
// .legend {
//   margin-top: 20px;
// }
// .legend span {
//   display: inline-block;
//   width: 33%;
//   margin-bottom: 15px;
// }
// .mg-x-axis .label,
// .mg-y-axis .label,
// .mg-axis .label {
//   font-size: 1.3rem;
//   text-transform: uppercase;
//   font-weight: 400;
// }
// .mg-x-axis text,
// .mg-y-axis text,
// .mg-histogram .axis text {
//   font-size: 1.3rem;
// }

// .selectors {
//   margin: 30px 0;
//   padding: 6px 15px;
//   border: dotted 1px #6a8093;
// }
// .selectors .pure-checkbox,
// .selectors input {
//   cursor: pointer;
//   margin-top: 8px;
//   margin-bottom: 0;
// }
// .u-mg-line1-color {
//   color: #ffd300;
// }
// .u-mg-line2-color {
//   color: #18ff00;
// }
// .u-mg-line3-color {
//   color: #f57070;
// }

// .pp-sidebar {
//   position: fixed
// }
// .paydash-controls .button.selected {
//   background-color: $color-grey-lighter
// }
// // 
// // 
// .mg-baselines line {
//   stroke: #ddd
// }
// .mg-baselines text {
//   font-size: 1.9rem
// }
// .button.button--bp option {
//   color: #000;
// }
// // Discrete 
// #region_charts-container h3{
//   font-size: 3rem
// }
// #region_charts-container li {
//   display:  inline-block;
//   min-width: 30%
// }
