.graph-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 140px;
}
.main-home h1 {
  font-weight: lighter;
  font-size: 35px;
  letter-spacing: 0.3em;
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 40px;
}
.main-home h2 {
  font-size: 44px;
  font-weight: lighter;
  color: #fff;
  padding-top: 0;
  margin-top: 0;
}
.main-home{
  padding:80px 50px;
}
