.group-head {
    padding: 40px 0;
}

.group-head h1 {
    margin: 0;
}

.group-head .search-bar {
    margin-top: 4px
}
.card {
    min-height: 300px;
    box-shadow: 0 1px 4px rgba($color-foreground,.04);
    border: 1px solid rgba($color-foreground,.09);
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    text-align: center
}
.card-top{
    min-height: 100px;
}
.card-head{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    margin: 10px 0 0;
    letter-spacing: .1em;
}
.card-designation{
    color: $color-grey-lighter;
    font-size: $fontSize-small;
}
.card-numbers{
    margin: 30px 0 40px;
}
.card-number-sub{
    font-size: $fontSize-smaller;
    color: $color-grey-light;
}
.card-officer{
    text-align: left;
    color: $color-grey-light;
    margin-bottom: 20px;
}
.card-officer-title{
    text-align:left;
    font-weight: 400;
}
.card-officer-sub{
    font-size: $fontSize-small;
    color: $color-grey-lighter;
}
.card .card-officer:last-child{
    padding-botttom: 40px;
}
