.overview{
    padding-top: 80px;
}
.overview-title{
    font-size: 4em;
    color: $color-accent
}
.overview-desc{
    padding-top: 40px;
    line-height: 1.8em;
    color: $color-grey-darker;
    letter-spacing: .07em
}
