@import "metricsgraphics.css";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #092234;
  font-family: 'Open Sans';
  color: #6a8093;
  margin-top: 80px;
}
a,
button {
  color: #2adbb9;
  text-decoration: none;
}
::-webkit-input-placeholder {
  color: #2a333a;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #2a333a;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #2a333a;
}
:-ms-input-placeholder {
  color: #2a333a;
}
a:hover {
  color: #ffffff;
}
.pull-right {
  float: right;
}
.pure-menu-link {
  color: #00bff3;
}
.pure-menu-link:hover,
.pure-menu-link:active,
.pure-menu-link:focus {
  color: #27d1ff;
  background: none;
}
.m-t-40 {
  margin-top: 140px;
}
.paydash-form input[type="text"],
.paydash-form input[type="password"] {
  background-color: #071c2b;
  border: solid 1px #071927;
  box-shadow: none;
}
.paydash-form label {
  margin: 15px 0;
}
.main {
  padding: 80px 60px 20px 60px;
  font-family: 'Open Sans';
}
.main h1 {
  font-weight: lighter;
  font-size: 35px;
  letter-spacing: 0.3em;
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 40px;
}
.main h2 {
  font-size: 44px;
  font-weight: lighter;
  color: #fff;
  padding-top: 0;
  margin-top: 0;
}
.login-form {
  max-width: 400px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}
.login-form .dash-button {
  width: 100%;
  margin-top: 40px;
}
.dash-button {
  color: rgba(255, 255, 255, 0.75);
  margin: 10px 20px 0 0;
  font-size: 20px;
  padding: 10px 70px;
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(top, #67809c, #323f5a);
}
.dash-button:hover,
.dash-button:active,
.dash-button:focus {
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(top, #57708c, #222f4a);
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 20px;
}
.header .title {
  letter-spacing: 0.35em;
  color: #00bff3;
  background-color: #092234;
}
.header h1 {
  font-size: 34px;
  font-weight: lighter;
}
