<div class="container-fluid u-spacing-page-top dashboard">
  <div class="u-textSize--large">
    You are looking at Gunor block's performance for
    <select id="p_modify-time-period-controls" class="button button--bp" name="">
      <option value="">past all days</option>
      <option value="61">past 60 days</option>
      <option value="31">past 30 days</option>
    </select>
  </div>
  <br>
  
  <div class="panchayat_selectors">
    <div class="panchayat-sort">
      <div id="panchayat-groupby-controls" class="paydash-controls">
        <button class="button" data-groupby="no">No Grouping</button>
        <button class="button selected" data-groupby="TA">Group by TA</button>
        <button class="button" data-groupby="GRS">Group by Gram Rozgar Sahayak</button>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-24-24">
        <div class="legend panchayat_legend"></div>
      </div>
    </div>
  <div class="panchayat_charts-container">
  </div>
</div>
{{> footer}}
