<div class="pure-g dashboard">
  <div class="pure-u-15-24">
    <div class="u-textSize--large u-spacing-page-top pp-sidebar">
      You are looking at
      <select class="button button--bp" name="" id="" placeholder="Select a Block">
        <option value="">Gunor</option>
      </select>
      block's x panchayat
    </div>
  </div>
  <div class="pure-u-9-24 ">
    <ul class="">
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
      <li>lkcslkd</li>
      <li>sjdksjd</li>
      <li>sjdksjd</li>
    </ul>
  </div>
</div>
