<div class="container-fluid u-spacing-page-top">
  {{!-- Loader --}}
  <div id="loader" class="loader-overlay">
    <div class="loader">Loading...</div>
    <div class="loader-text ">{{t "/messages/loading"}}</div>
  </div>
  {{!-- Dashboard --}}
  <div id="dashboard" class="dashboard u-hidden">
    <div class="subnav">
      <span id="region-name" class="subnav-name"></span>
      <select class="u-pull-right" id="modify-time-period-controls" name="">
        <option value="">All available dates</option>
        <option value="61">Past 60 days</option>
        <option value="31">Past 30 days</option>
      </select>
      <div id="panchayat_selectors" class="panchayat_selectors u-pull-right"></div>
     <div class="u-cf"></div>
      <div>
        {{t "/performance/discrete/subtitle credentials"}}
        <span style="cursor:help" title="{{t "/performance/discrete/tooltip" credentials}}" class="pe-7s-info"></span>
      </div>
    </div>
    {{!-- Mapping message --}}
    <div class="message message--warning">
      <ul class="pointed-list">
        <li id="mapping-msg-1 u-hidden">Your block has unmapped panchayats for the <strong>GRS</strong> designation. As a result, we can't show you the performance of all the GRS's in your block. Please visit the MGNREGA portal at nrega.nic.in to complete your GRS mapping.</li>
        <li id="mapping-msg-2 u-hidden">Your block has unmapped panchayats for the <strong>TA</strong> designation. As a result, we can't show you the performance of all the TA's in your block. Please visit the MGNREGA portal at nrega.nic.in to complete your TA mapping.</li>
      </ul>
    </div>
    {{!-- Charts --}}
    <div class="pure-g">
      <div class="pure-u-24-24">
        <div class="legend region_legend legend-discrete"></div>
      </div>
    </div>
    <div id="region_charts-container"></div>
    <div class="region_charts_unmapped-container"></div>
    {{> footer}}
  </div>
</div>

