<div class="container-fluid u-spacing-page-top">
  <div id="loading" class="loading">{{t "messages.loading"}}</div>
</div>


{{!-- <div class="container-fluid u-spacing-page-top dashboard">
  <div class="u-textSize--large">
    You are looking at 
    <span id="block_name"></span>
    block's performance for
    <select id="modify-time-period-controls" class="button button--bp" name="">
      <option value="">past all days</option>
      <option value="61">past 60 days</option>
      <option value="31">past 30 days</option>
    </select>
  </div>
  <div class="pure-g">    <div class="pure-u-24-24">
      <div class="chart-holder">
        <div class="block_chart_holder">
          <div id="block_performance"></div>
        </div>
        <div class="legend block_legend"></div>
        <div class="u-textSize--largest">Total transactions on <span id="block_performance_total_trans"></span></div>
      </div>
    </div>
  </div>
  <div class="u-block-divider"></div>
  <div class="u-textSize--largest">Performance Comparison</div>
  <div class="selectors pure-g">
    <div class="pure-u pure-u-24-24 pure-u-md-7-24">
      <select class="button button--pc" name="" id="modify-step-controls">
        <option value="1">Muster roll closure to muster roll entry</option>
        <option value="2">Muster roll entry to wage list generation</option>
        <option value="3">FTO generation to first signature</option>
        <option value="4">Wage list generation to wage list sign</option>
        <option value="5">Wage list sign to FTO generation</option>
        <option value="6">First signature to second signature</option>
        <option value="7">Second signature to processed by bank</option>
      </select>
    </div>
    <div class="pure-u pure-u-24-24 pure-u-md-3-24">
      <label for="option-one" class="pure-checkbox">
        Block Mean
        <input class="blockSelector" id="option-one" type="checkbox" value="block" checked>
      </label>
    </div>
    <div class="pure-u pure-u-24-24 pure-u-md-3-24">
      <label for="option-two" class="pure-checkbox ">
        District Mean
        <input class="blockSelector" id="option-two" type="checkbox" value="district" checked>
      </label>
    </div>
    <div class="pure-u pure-u-24-24 pure-u-md-3-24">
      <label for="option-three" class="pure-checkbox">
        State Mean
        <input class="blockSelector" id="option-three" type="checkbox" value="state" checked>
      </label>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-24-24">
      <div class="chart-holder">
        <div class="block_chart_holder">
          <div id="block_comparison"></div>
        </div>
        <div class="legend comparison_legend"></div>
        <div class="u-textSize--largest">Total transactions on <span id="block_comparison_total_trans"></span></div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
 --}}
