<div class="container-fluid u-spacing-page-top">
  <div id="loader-overlay" class="loader-overlay">
    <div class="loader">Loading...</div>
    <div class="loader-text ">{{t "/messages/loading"}}</div>
  </div>
</div>

{{> footer}}
