$form--color: $color-grey-lightest;
$form--height: $eleHeight-base;
// 
// Forms
// 
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: $form--height;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: $color-background;
    border: solid 1px $form--color;
    border-radius: $borderRadius-base;
    box-shadow: none;
}

// Removes awkward default styles on some inputs for iOS 
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid $color-accent;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 500;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}

select {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    padding-right: 3rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyOSAxNCIgd2lkdGg9IjI5Ij48cGF0aCBmaWxsPSIjZDFkMWQxIiBkPSJNOS40IDMuNmw1IDcgNS4yLTciLz48L3N2Zz4=) center right no-repeat
}
option {
    background-color: $color-background;
}
// 
// Global Form Styles
// 
.honey {
    display: none
}

// 
// Placeholder style
// 
::-webkit-input-placeholder {
    color: $color-grey-lightest;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $color-grey-lightest;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $color-grey-lightest;
}

:-ms-input-placeholder {
    color: $color-grey-lightest;
}
