/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: $color-accent;
  text-decoration: none;
}
a:hover {
  color: darken($color-accent, 10%);
}

/* Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $spacing-small;
}
.heading--sub {
  border-bottom: solid 1px $color-grey-dim;
  padding-bottom: $spacing-smaller;
  letter-spacing: $letterSpacing-loose;
  font-weight: $fontWeight-thin;
  text-transform: uppercase
}
.heading--noMargin {
  margin: 0;
}
.heading--noPadding {
  padding: 0;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
// 
// text Utilities
// 
.u-textSize--small {
  font-size: $fontSize-small
}
.u-textSize--smallest {
  font-size: $fontSize-smallest
}
.u-textSize--large {
  font-size: $fontSize-large
}
.u-textSize--largest {
  font-size: $fontSize-largest
}
.u-textSize--jumbo {
  font-size: $fontSize-jumbo
}
.u-textColor--darkest {
  color: $color-grey-darkest
}
.u-textColor--light {
  color: $color-grey-light
}
.u-textColor--lighter {
  color: $color-grey-lighter
}
.u-textColor--lightest {
  color: $color-grey-lightest
}
.u-textColor--dim {
  color: $color-grey-dim
}
.u-textColor--error {
  color: $color-error
}
.u-textColor--success {
  color: $color-success
}
.u-textColor--warning {
  color: $color-warning
}
