.mg-active-datapoint {
  fill: #000;
  font-size: 1.5rem;
  font-weight: 200;
  opacity: 1;
}

.mg-area1-color {
    fill: #FFCE56;
}
.mg-line1-color {
  stroke: #FFCE56;
}
.mg-hover-line1-color {
  stroke: #FFCE56;
}
.mg-line1-legend-color {
    color: #FFCE56;
}
.mg-area2-color {
    fill: #1E824C;
}
.mg-line2-color {
  stroke: #1E824C;
}
.mg-hover-line2-color {
  stroke: #1E824C;
}
.mg-line2-legend-color {
    color: #1E824C;
}
.mg-area3-color {
    fill: #FF6384;
}
.mg-line3-color {
  stroke: #FF6384;
}
.mg-hover-line3-color {
  stroke: #FF6384;
}
.mg-line3-legend-color {
    color: #FF6384;
}
.mg-area4-color {
    fill: #FF6384;
}
.mg-line4-color {
  stroke: #FF6384;
}
.mg-hover-line4-color {
  stroke: #FF6384;
}
.mg-line4-legend-color {
    color: #FF6384;
}


.mg-area7-color {
    fill: #36A2EB;
}
.mg-line7-color {
  stroke: #36A2EB;
}
.mg-hover-line7-color {
  stroke: #36A2EB;
}
.mg-line7-legend-color {
    color: #36A2EB;
}


// .mg-barplot .mg-bar-prediction {
//     fill: #5b5b5b;
// }

// .mg-barplot .mg-bar-baseline {
//     stroke: #5b5b5b;
// }

// .mg-baselines line {
//     stroke: #676767;
// }

// .mg-baselines text {
//     fill: #fff;
// }

// .mg-histogram .axis path,
// .mg-histogram .axis line {
//     opacity: 0.5;
//     stroke: #ccc;
// }

// .mg-histogram .mg-bar rect,
// .mg-barplot rect.mg-bar {
//     fill: #d8b307;
// }

// .mg-histogram .mg-bar rect.active,
// .mg-barplot rect.mg-bar.active {
//     fill: #b3960f;
// }

// .mg-histogram .mg-bar text {
//     fill: #fff;
// }

// .mg-histogram .axis .tick line {
//     opacity: 0.3;
// }

// li {
//     color: #cfcfcf;
// }

// .mg-least-squares-line {
//     stroke: #f57070;
// }



// .mg-chart-title {
//     fill: #cfcfcf;
// }

// .mg-main-area-solid svg .mg-main-area {
//     fill: #52491f;
// }

// .mg-markers line {
//     stroke: #676767;
// }

// .mg-markers text {
//     fill: #fff;
// }

// circle.mg-points-mono {
//     fill-opacity: 0.6;
//     stroke: #a89641;
//     fill: #a89641;
//     stroke-opacity: 1;
// }

// circle.mg-points-mono.selected {
//     fill: #a89641;
//     fill-opacity: 1;
//     stroke-opacity: 1;
// }

// .popover {
//     color: #737373;
// }

// text {
//     fill: #fff;
// }

// .mg-x-rug-mono,
// .mg-y-rug-mono {
//     stroke: #cfcfcf;
// }

// .mg-x-axis line,
// .mg-y-axis line {
//     stroke: #676767;
// }

// .mg-x-axis text,
// .mg-y-axis text,
// .mg-histogram .axis text {
//     fill: #fff;
// }

// .mg-year-marker text {
//     fill: #fff;
// }

// .mg-year-marker line {
//     stroke: #676767;
// }
// path.mg-main-area {
//     opacity: 0.15;
// }
