.modal-wrapper{
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000
}
.modal-item {
    background: #fff;
    padding: 30px;  
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 4px;
    max-height: 80%;
    margin-top: 10px;
    overflow-y: scroll
}
.muster-table{
    text-align: left;
    width: 100%;
}
.modal-close{
    font-size: 2em;
    cursor: pointer
}
