.mg-active-datapoint {
    fill: #fff;
}

.mg-area1-color {
    fill: #ffd300;
}

.mg-area2-color {
    fill: #18ff00;
}

.mg-area3-color {
    fill: #f57070;
}

.mg-area4-color {
    fill: #f8b128;
}

.mg-area5-color {
    fill: #f7f7f7;
}
.mg-area6-color {
    fill: #F22613;
}
.mg-area7-color {
    fill: #FDE3A7;
}
.mg-area8-color {
    fill: #9B59B6;
}

.mg-barplot .mg-bar-prediction {
    fill: #5b5b5b;
}

.mg-barplot .mg-bar-baseline {
    stroke: #5b5b5b;
}

.mg-baselines line {
    stroke: #676767;
}

.mg-baselines text {
    fill: #fff;
}

body {
    background-color: #272727;
    color: #cfcfcf;
}

.divider {
    color: #f1f1f1;
    opacity: 0.1;
}
.mg-histogram .axis path,
.mg-histogram .axis line {
    opacity: 0.5;
    stroke: #ccc;
}

.mg-histogram .mg-bar rect,
.mg-barplot rect.mg-bar {
    fill: #d8b307;
}
.mg-histogram .mg-bar rect.active,
.mg-barplot rect.mg-bar.active {
    fill: #b3960f;
}

.mg-histogram .mg-bar text {
    fill: #fff;
}

.mg-histogram .axis .tick line {
    opacity: 0.3;
}

li {
    color: #cfcfcf;
}

.mg-least-squares-line {
    stroke: #f57070;
}

.mg-line1-color {
    stroke: #ffd300;
}

.mg-hover-line1-color {
    stroke: #ffd300;
}

.mg-line2-color {
    stroke: #18ff00;
}

.mg-hover-line2-color {
    stroke: #18ff00;
}

.mg-line3-color {
    stroke: #f57070;
}

.mg-hover-line3-color {
    stroke: #f57070;
}

.mg-line4-color {
    stroke: #f8b128;
}

.mg-hover-line4-color {
    stroke: #f8b128;
}

.mg-line5-color {
    stroke: #f7f7f7;
}

.mg-hover-line5-color {
    stroke: #f7f7f7;
}
.mg-line6-color {
    stroke: #F22613;
}

.mg-hover-line6-color {
    stroke: #F22613;
}
.mg-line7-color {
    stroke: #FDE3A7;
}

.mg-hover-line7-color {
    stroke: #FDE3A7;
}
.mg-line8-color {
    stroke: #9B59B6;
}

.mg-hover-line8-color {
    stroke: #9B59B6;
}

.mg-line1-legend-color {
    color: #ffd300;
}

.mg-line2-legend-color {
    color: #18ff00;
}

.mg-line3-legend-color {
    color: #f57070;
}

.mg-line4-legend-color {
    color: #f8b128;
}

.mg-line5-legend-color {
    color: #f7f7f7;
}
.mg-line6-legend-color {
    color: #F22613;
}
.mg-line7-legend-color {
    color: #FDE3A7;
}
.mg-line8-legend-color {
    color: #9B59B6;
}

#logo g path {
    fill: #e8e8e8;
}

.mg-main-area-solid svg .mg-main-area {
    fill: #52491f;
}

.mg-markers line {
    stroke: #676767;
}

.mg-markers text {
    fill: #fff;
}

circle.mg-points-mono {
    fill-opacity: 0.6;
    stroke: #a89641;
    fill: #a89641;
    stroke-opacity: 1;
}

circle.mg-points-mono.selected {
    fill: #a89641;
    fill-opacity: 1;
    stroke-opacity: 1;
}

.popover {
    color: #737373;
}

text {
    fill: #fff;
}

.mg-x-rug-mono,
.mg-y-rug-mono {
    stroke: #cfcfcf;
}

.mg-x-axis line,
.mg-y-axis line {
    stroke: #676767;
}

.mg-x-axis text,
.mg-y-axis text,
.mg-histogram .axis text {
    fill: #fff;
}

.mg-year-marker text {
    fill: #fff;
}

.mg-year-marker line {
    stroke: #676767;
}
