html{
	font-size: 12px;
}
body{
	/*background-color: #272727;*/
	background-color: #092234;
  	color: #6A8093;
  	font-family: 'Open Sans';
}
.header{
	padding:40px;

}
h1{
	font-size: 34px;
	font-weight: lighter;
}
.logo{
	float: left;
	height: 70px;
	margin-top: 11px; 
	margin-right: 10px
}

/*********[ Helper ]************/
.container{
	padding: 0 40px;
}
.pull-right{
	float: right
}
.clearfix{
	clear: both
}
/******[ Chart custom styles ]**********/
.mg-chart-title  {
  font-size: 1.2rem;
  font-weight: normal;
}

.legend{
	margin-top: 20px
}
.legend span{
	display: inline-block;
	width: 25%;
	margin-bottom: 15px
}


