.container {
  max-width: 1300px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
.container-narrow {
  width: 70%;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}
