<div class="container u-spacing-page-top">
  <div class="pure-g">
    <div class="pure-u pure-u-7-24">
      <div class="editor__subtext">
        MGNREGA <br>
        Employee Data Entry
      </div> 
      <select name="" id="" class="editor__selector">
        <option value="sds">Amarpatan</option>
      </select>
      {{> editor-nav}}
    </div>
    <div class="pure-u pure-u-10-24">
      <h2>MGNREGA Employee Data Entry</h2>
      <div class="">
        {{info.text}}
      </div>
      <br>
      <button class="button button--primary">Share This</button>
      <button class="button button--primary">Fill data</button>
    </div>
  </div>
</div>
