<div class="container u-spacing-page-top">
  <div class="pure-g">
    <div class="pure-u pure-u-5-24">
      {{> editor-nav}}
    </div>
    <div class="pure-u pure-u-19-24">
      <h2>MGNREGA Employee Data Entry</h2>
      <div class="">
        {{{info.body}}}
      </div>
      <br>
      <a href="/editor/share" class="button button--primary">Share This</a>
      <a href="/editor/t_2" class="button button--primary">Fill data</a>
      {{> flash}}
    </div>
  </div>
</div>
