<div class="container u-spacing-page-top">
  <div class="pure-g">
    <div class="pure-u pure-u-7-24">
      {{> editor-nav}}
    </div>
    <div class="pure-u pure-u-10-24">
      <div class="">
        {{info.text}}
      </div>
    </div>
  </div>
</div>
