<div class="menu menu--vertical menu--pointing-right menu--borderRight menu--width-noraml">
  <a class="menu-item" href="/editor/t_2">{{t "/web/editor/t_2" credentials null}}</a>
  <a class="menu-item" href="/editor/t_6">{{t "/web/editor/t_6" credentials null}}</a>
</div>
