<div class="u-pos-fixed">
  <div class="editor__subtext">
      {{{t "/web/editor/title" credentials null}}}
  </div> 
  <select class="editor__selector" name="share_region" value="" id="lang">
      {{#each credentials.user_regions as | region |}}
      <option value="{{region_code}}">{{region.region_name}}</option>
      {{/each}}
  </select>
  <div class="menu menu--vertical menu--pointing-right menu--borderRight menu--width-wide">
    <div id="editor__sidebar"></div>
  </div>

</div>