<header class="metabar">
  <div class="container-fluid">
    <a href="/" class="brand">Paydash</a>
    {{#if credentials}}
      <div class="metabar-nav-right u-pull-right">
        <div class="dropdown">
          <button class="button avatar" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            R
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-pointing" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="/me">Profile</a>
            <a class="dropdown-item" href="/me/settings/profile">Settings</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
      </div>
      <div class="menu-block-selection u-pull-right">
        <select name="block_selector" id="block_selector">
          <option value="Gunor">Gunor</option>
          <option value="BlockY">BlockY</option>
          <option value="BlkkjkjkockY">lklkl</option>
        </select>
      </div>
      <div class="menu menu--pointing">
        <a class="menu-item" href="/dashboard/block">Block Performance</a>
        <a class="menu-item" href="/dashboard/panchayat">Panchayat Performance</a>
        <a class="menu-item" href="/musters/current">Current Musters</a>
        <a class="menu-item" href="/musters/delayed">Delayed Musters</a>
      </div>
    {{else}}
      <div class="metabar-nav-right u-pull-right">
        <a class="button button-success" href="/login">Login</a>
      </div>
    {{/if}}
  </div>
</header>
