<div class="menu menu--vertical menu--pointing-right menu--borderRight menu--width-noraml">
  <a class="menu-item" href="/me/settings/profile">Profile</a>
  <a class="menu-item" href="/me/settings/account">Account</a>
  <a class="menu-item" href="/me/settings/networks">Networks</a>
  <a class="menu-item" href="/me/settings/notifications">Notifications</a>
   <a class="menu-item" href="/me/settings/invites">Invites</a>
</div>
