<div class="menu menu--vertical menu--pointing-right menu--borderRight menu--width-noraml">
  <a class="menu-item" href="/me/settings/profile">{{t "/profile/settings" credentials}}</a>
  <a class="menu-item" href="/me/settings/account">{{t "/profile/account" credentials}}</a>
</div>
