<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="main-home">
      <div class="logo">
          <img src="/images/logo.jpeg" alt="">
      </div>
      <h1>MGNREGA</h1>
      <h2>Worker Payments Dashboard</h2><a class="button button--primary" href="/login">Get started</a></div>
  </div>
  <div class="pure-u-1 pure-u-md-1-2"><img class="graph-img" src="images/charts.png" alt=""></div>
</div>
