// Landing page button
.dash-button {
  color: rgba(255, 255, 255, 0.75);
  margin: 10px 20px 0 0;
  font-size: 20px;
  padding: 10px 70px;
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(top, #67809c, #323f5a);
}

.dash-button:hover,
.dash-button:active,
.dash-button:focus {
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(top, #57708c, #222f4a);
}

// Header
.header {
  position: fixed;
  font-size: 13px;
  top: 0px;
  width: 100%;
  padding: 20px;
  background-color: @background-color;
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  .title {
    letter-spacing: 0.35em;
    font-size: 15px;
    color: @link-color-2;
  }
  h1 {
    font-size: 34px;
    font-weight: lighter;
  }
}
